.band-header {
  h1 {
    margin: 0;
  }
  margin-bottom: 5em;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.full-width {
  -ms-flex: 0 0 66.666666%;
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.band-member {
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.rounded-circle {
  border-radius: 50%!important;
}

img {
  vertical-align: middle;
  border-style: none; 
}