---
layout: default
---
{% assign category = page.url | remove: '/' %}
<h2>Upcoming {{ category | capitalize }}</h2>
<ul id="upcoming">
  {% for post in site.posts %}
    {% if post.categories contains category %} 
      <li id="{{ post.show_date | date: '%Y-%m-%d' }}" class="post hidden">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.show_date %} {{ post.show_date | date: "%x %I%P" }} - {% endif %}
            {% if post.location %} {{ post.location | split: ' ' | join: '----' | camelcase | split: '----'| join: ' ' }} - {% endif %}
          {{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% if category == 'shows' %}
<h2>Past {{ category | capitalize }}</h2>
<ul id="past">
    {% for post in site.posts %} 
    {% if post.categories contains category %} 
      <li id="{{ post.show_date | date: '%Y-%m-%d'  }}" class="post hidden">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.show_date %} {{ post.show_date | date: "%x %I%P" }} - {% endif %}
            {% if post.location %} {{ post.location | split: ' ' | join: '----' | camelcase | split: '----'| join: ' ' }} - {% endif %}
          {{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}